.title{
    color: orangered;
    font-size: 20px;
}
.modifiedContent{
    font-size: 18px;
    font-style: normal;
    font-family: Arial,
    Helvetica,
    sans-serif;
    color: rgb(21, 20, 20);
}
.content{
    font-size: 18px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: peru;
}
.listStyle{
    list-style: none;
}