<p>userlist works</p>
<!-- <app-user-details [users]="usersList" (removeUserData)="userRemoval($event)"></app-user-details> -->
<!-- <ng-container *ngFor="let user of usersList,index as i">
    <app-user-details [userData]="user" [userIndex]="i" (removeUserData)="userRemoval($event)"></app-user-details>
</ng-container> -->
<div class="userlistPage">
    <h3>Users List</h3>
    <span class="adduserBtn" (click)="addUserForm()">Add user</span>

    <!-- <div class="userlistContainer">
        <table class="userTable">
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let user of usersList,index as i">
                <td>{{i+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span (click)="editUser(user.id)">Edit</span>
                    <span (click)="deleteUser(user.id)">Delete</span>
                </td>
            </tr>
        </table>
    </div> -->
</div>





<p-table [columns]="cols" [value]="usersList" [(selection)]="selectedUsers" selectionMode="multiple" dataKey="username"
    responsiveLayout="scroll" [rowHover]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <!-- <th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
                {{col.header }} <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th> -->
            <th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
                {{col.header}}
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>