@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
.mainArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.contentImage {
    width: 660px;
    height: 596px;
}