<div>
    <app-to-do-input (addNewTask)="newTask($event)"></app-to-do-input>
</div>

<div class="todoList">
    <div class="listHead">
        <h2 class="heading">
            My To Do List
        </h2>
    </div>
    <ng-container>
        <div class="list" *ngFor="let task of taskList">
            <input type="checkbox" [(ngModel)]="isCheck" name="" id="">
            <label [ngStyle]="{'text-decoration':isCheck?'line-through':'none','color':isCheck?'red':'black'}"
                class="taskData">{{task}}</label>

        </div>
    </ng-container>
</div>