.todoList{
    border-radius: 10px;
    border: 2px solid rebeccapurple;
    width: 83%;
    height: auto;
    margin-left: 122px;
    margin-top: 30px;
}
.list{
    padding: 10px;
}
.taskData{
    padding-left: 5px;
}
.listHead {
    display: flex;
    justify-content: center;
}