<!-- <div>
  <app-headercomponent></app-headercomponent>
</div>
<div class="content">
  <div class="mainArea">
    <app-mainareacomponent></app-mainareacomponent>
  </div>
  <div class="sidebar">
    <app-sidebarcomponent></app-sidebarcomponent>
  </div>
</div>
<div>
  <app-footercomponent></app-footercomponent>
</div>
<div>
  <h3>Databinding task</h3>
  <div>
    <app-databindtask></app-databindtask>
  </div>
</div>
<div>
  <h1>Directives</h1>
  <div>
    <app-directives></app-directives>
  </div>
</div> -->
<app-parent></app-parent>