<!-- <div>
  <app-headercomponent></app-headercomponent>
</div> -->
<!-- <div class="content">
  <div class="mainArea">

  </div>
  <div class="sidebar">
    <app-sidebarcomponent></app-sidebarcomponent>
  </div>
</div>
<div>
  <app-footercomponent></app-footercomponent>
</div> -->
<!--<div>
  <h3>Databinding task</h3>
  <div>
    <app-databindtask></app-databindtask>
  </div>
</div>
<div>
  <h1>Directives</h1>
  <div>
    <app-directives></app-directives>
  </div>
</div>
<div>
  <h1>Data communication between parent and child components</h1>
  <div>
    <app-parent></app-parent>
  </div>
</div> -->

<!-- <div>
  <app-users-list></app-users-list>
</div> -->
<router-outlet></router-outlet>



<!-- <div>
  <app-to-do-list></app-to-do-list>
</div> -->